body {
	background-color: dodgerblue;
	color: white;
}

ul {
	list-style: none;
}

.answer {
	background-color: forestgreen;
	padding: 23px 43px;
}

.answer:hover {
	cursor: pointer;
}

.active {
	background-color: magenta;
}
