:root {
	--border-min: 6px;
	--shadow-min: 6px 6px 12px rgba(0, 0, 0, .3);
}

body {
	background-color: whitesomoke;
	color: black;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	color: gray;
	max-width: 80%;
	margin: auto;
}

.startQuiz {
	width: 100%;
	height: 96vh;
	background-color: whitesmoke;
	z-index: 3;
	position: absolute;
	margin: 0 auto;
	text-align: center;
}

#starter,
#nextLevelButton  {
	margin: 0 auto;
	position: relative;
	top: 50%;
	width: 60%;
	background-color: rgb(19, 182, 81);
	color: white;
	padding: 24px 36px;
	text-decoration: none;
	border: 0px;
	cursor: pointer;
	transition: all 0.3s 0s ease-in-out;
	border-radius: var(--border-min);
}

#starter:hover {
	background: rgb(73, 139, 201);
	cursor: pointer;
}

#finished {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	display: none;
	z-index: 4;
	background: whitesmoke;
	color: dodgerblue;
	position: absolute;
	top: 20%;
}

#question {
	padding: 24px;
	margin: 0 auto;
	width: 96%;
	min-height: 60px;
	text-align: center;
}

.statistics {
	padding: 18px;
	margin: 6px auto;
	text-align: center;
	width: 66%;
	background: rgb(172, 223, 224);
	color: gray;
	border-radius: var(--border-min);
}

.number {
	background-color: rgb(90, 121, 223);
	padding: 3px 12px;
	font-size: 18px;
	font-weight: 600;
	color: white;
	border-radius: var(--border-min);
}

ul {
	list-style: none;
}

.answer {
	width: 80%;
	background-color: #2390c2;
	color: white;
	padding: 23px 43px;
	margin: 0 auto;
	transition: .3s linear;
	border-radius: var(--border-min);
	box-shadow: var(--shadow-min);
	animation: fadeIn .6s;
	/* opacity: 1; */
}

.answer:hover {
	cursor: pointer;
	background-color: rgb(119, 181, 233);
}

.correct {
	background-color: rgb(9, 88, 9);
}

.incorrect {
	background-color: rgb(202, 39, 39);
}

.noHover {
	pointer-events: none;
}

#nextButton {
	font-size: 16px;
	letter-spacing: 2px;
	background-color: #1ea757;
	color: #fff;
	width: 80%;
	position: relative;
	left: 10%;
	padding: 24px 50px;
	margin: 24px auto;
	text-align: center;
	text-decoration: none;
	border: 0px;
	border-radius: var(--border-min);
	cursor: pointer;
	transition: all 0.3s 0s ease-in-out;
}

#nextButton:hover {
	background-color: rgb(12, 117, 65);
	text-decoration: none;
}

#spinner {
	border: 3px solid #f3f3f3;
	border-radius: 50%;
	border-top: 3px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 1s linear infinite;
	margin: auto;
	position: absolute;
	top: 45%;
	left: 45%;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.fade-in {
	animation: fadeIn 2s;
	opacity: 1;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@media only screen and (max-width: 810px) {
	.container {
		max-width: 100%;
	}
  }